header p{
	color:#000;
	font-weight: bold;
	font-size: 20px;
}
body {
  padding: 50px 0;
  margin: 0;
  font: 14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #555;
  font-weight: 300;
}
.box {
  width: 640px;
  margin: 0 auto;
  background: #DEDEDE;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 1px, rgba(0, 0, 0, 0.45) 0 3px 10px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 1px, rgba(0, 0, 0, 0.45) 0 3px 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 1px, rgba(0, 0, 0, 0.45) 0 3px 10px;
}
header h1 {
  margin: 0;
  padding: 0;
  font-size: 30px;
  line-height: 40px;
  color: #069;
  text-shadow: rgba(255, 255, 255, 0.9) 0 1px 0;
  font-family: "华文行楷";
}
header, section, footer {
  display: block;
}
header {
  -webkit-border-radius: 8px 8px 0 0;
  -moz-border-radius: 8px 8px 0 0;
  -ms-border-radius: 8px 8px 0 0;
  -o-border-radius: 8px 8px 0 0;
  border-radius: 8px 8px 0 0;
  background: #C6EAFA;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ddfbfc), color-stop(100%, #c6eafa));
  background: -webkit-linear-gradient(#ddfbfc, #c6eafa);
  background: -moz-linear-gradient(#ddfbfc, #c6eafa);
  background: -o-linear-gradient(#ddfbfc, #c6eafa);
  background: -ms-linear-gradient(#ddfbfc, #c6eafa);
  background: linear-gradient(#ddfbfc, #c6eafa);
  position: relative;
  padding: 10px 20px;
  border-bottom: 1px solid #B2D2E1;
}
.menu{
	width: 600px;
 	margin: 0 auto;
 	background: #fff;
 	border:1px solid #ccc;
}
.align{
	text-align: center;
	color:#000;
	font-weight: bold;
	background:#eee;
}
.menu td{
 	width:120px;
 	border:1px solid #ccc;
 }